<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aapreneur.vpay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!-- [END fcm_default_channel] -->
        <activity android:name=".PhoneNumberAuthentication" />
        <activity android:name=".FirstSignup" />
        <activity
            android:name=".bank_details"
            android:label="@string/title_activity_bank_details"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".checkout"
            android:label="@string/title_activity_checkout"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar" />

        <service android:name=".app.utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".app.utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <service
            android:name=".app.utils.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity
            android:name=".privacy"
            android:label="@string/title_activity_privacy"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".faq"
            android:label="@string/title_activity_faq"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".webView"
            android:label="@string/title_activity_web_view"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".receipt"
            android:label="@string/title_activity_receipt"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Contact_us"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity android:name=".Splash">
            <tools:validation testUrl="http://www.aapreneur.com/vpay" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.aapreneur.com"
                    android:path="/vpay"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".Invite" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>